body {
  font: 14px sans-serif;
  height: 100%;
  shape-rendering: crispEdges;
}

.minirule {
  max-width: 100px;
  margin-left: 0;
}

.container { 
  margin: 0, auto;
  float: none;
}

.mid { 
  width: 50%;
  /*margin: 0 auto;*/
}

.left { 
  width:50%;
  float: left;
}

.right { 
  width: 50%;
  float: right;
}

h1, h2 {
  display: inline;
}

h2 {
  color: darkgrey;
  font-size: 1.5em;
}

textarea {
  width: 100%;
}