/*Jake custom styles*/
.button-text {
  font-size: 150%;
}

.tagline {
  font-size: 200%;
  color: grey;
}

#title {
  font-size: 500%;
  font-weight: thick;
}

#top {
  height: 75px;
}

#left {
  
}

#right {
  margin-top: 100px;
  text-align: center;
}

#right-border {
  border-left: thin solid grey;
}

.social {
  width: 45px;
}

#navbar {
  background-image: -webkit-linear-gradient(top,#fff 0,#e6e6e6 100%);
  font-size: 18px;
}

#follow-buttons {
  float: bottom;
}

.tagline {
  text-align: center;
}

#phone {
  height: 500px;
}

ul.nav.navbar-nav.navbar-right {
  margin-top: 12px;
}
.navbar {
  height: 75px;

}

.navbar-brand {
  position: absolute;
}

#logo {
  height: 50px;
}

#footer {
  color: grey;
  text-align: right;
  background-color: #e6e6e6;
  position:absolute;
  bottom:0px;
  left: 0px;
  width: 100%;
  padding-top:15px;
}

#question_form {
  max-width: 500px;
}

#import_phone_number {
  max-width: 500px;
}

.question {
  font-weight: bold;
  font-size: 150%;
  color: grey;
}

.details {
  font-size: 10;
  color: grey;
}