h1 { 
  display: inline;
  }

body {
  font: 14px sans-serif;
  height: 100%;
  shape-rendering: crispEdges;
}

.minirule {
  max-width: 100px;
  margin-left: 0;
}

.container { 
  margin: 0, auto;
  float: none;
}

.left { 
  width: 50%;
  float: left;
}

.right { 
  width: 50%;
  float: right;
}

#question_text {
  width: 100%;
}