<form method=post action="/clients">
<div class="form-group">  
  <textarea id="phone_numbers"
    name="phone_numbers"
    type="text"
    rows="10"
    placeholder="Add one client cell numbers per line, like this:
                                                              (510) 206-8727                                        
                                                              555-555-5555                                        
                                                              1.555.555.5555
                                                              "
                                                              ></textarea>
  
  <br><button type="submit" class="btn btn-primary">Invite new clients</button>
</div>
</form>