<form method=post action="{{ url_for("clients") }}">
<div class="form-group">  
  <textarea id="import_phone_number"
    class="form-control"
    name="phone_numbers"
    type="text"
    rows="10"
    placeholder="Add one phone number per line, like this:
                                                              (555) 555-5555                                        
                                                              555-555-5555                                        
                                                              1.555.555.5555
                                                              "
                                                              ></textarea>
  
  <br><button type="submit" class="btn btn-lg btn-warning">Add New Peeps</button>
</div>
</form>

</form>