<!DOCTYPE html>
<html xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
<head>
  <meta charset="utf-8">
  <title>TinyText</title>

  <!-- CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

  <!-- Javascript -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="http://code.jquery.com/jquery.js"></script>

</head>

<body>
<div class="row-fluid">
  <div class="span8 offset1">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
          <div class="flashes">
            <div class="alert alert-success">
              {% for message in messages %}
              <p>{{ message }}</p>
              {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </div>
</div>
</body>
</html>