<form method=post action="/register">
<div class="form-group">  
  <input type="text" class="form-control" name="phone_number" placeholder="Your cell phone #">
  
  <br><input type="text" class="form-control" name="org_nickname" placeholder="Organization nickname">
  
  <!-- <br><button id="register-button" type="submit" class="btn btn-lg btn-success btn-block">Create New Account</button> -->
  <br><button type="submit" class="register-button btn btn-warning btn-lg btn-block">Create New Account</button>

</div>
</form>